html {
    box-sizing: border-box;
  }

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.bluebackground {
    background-color: #1F2937;
}

/* Section One Header and Hero */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.links ul {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    list-style-type: none;
}

.sectionone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 900px;
    margin: 75px auto 0;
    padding-bottom: 100px;
}

.sectionone h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sectionone p {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.sectionone img {
    flex-shrink: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sectionone button {
    margin-top: 10px;
    padding: 5px 28px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.left, .right {
    width: 50%;
}

/* Section Two Information */

.sectiontwo {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.sectiontwo h2 {
    margin: 40px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;
    font-weight: 300;
}

.square {
    width: 151px;
}

.information img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

/* Section Three Quote */

.sectionthree {
    padding: 100px 0;
    background-color: #E5E7EB;
}

.quote {
    max-width: 780px;
    margin: auto;
    color:#1F2937;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
}

.quote p {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* Final Section Call To Action */

.calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 100px auto;
    padding: 50px 100px;
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
}

.callhead {
    font-size: 20px;
    font-weight: 600;
}

.callbody {
    font-weight: 100;
}

.calltoaction button {
    flex-shrink: 0;
    padding: 3px 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}

/* Footer */

.copyright {
    padding: 20px;
    font-size: 15px;
    font-weight: 100;
    color: #E5E7EB;
    text-align: center;
}